<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align:center;">
        <h1>Find your friends</h1>
        <p class="lead">To see your new friends all you need to do is sign up/Register</p>
        <div class="text-centre">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-5">Register</button>
            <button class="btn btn-primary btn-info me-2" style="margin:1%;">Learn More</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>