<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Ambivert</a>
    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async" style="height: 100%;">
        <li class="nav-item active">
            <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;"  (click)="logOut()">LogOut</a>
        </li>
    </ul>
    <div *ngIf="accountService.currentUser$ | async" class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-animated">
          Welcome User <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu mt-2"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logOut()"  style="
            cursor: pointer;">LogOut</a>
          </li>
        </ul>
      </div>
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off" style="margin-left: auto;">
        <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
            placeholder="UserName">
        <input name="username" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
            placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

</nav>